*{
    /* margin: 0px;
    padding: 0px;
    box-sizing: border-box; */
}
#drop-area {
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
}
#drop-area.active {
    background-color: rgb(160, 160, 160);
}
#drop-area > input {
    display: none;
}
