*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#canvases {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
canvas {
    width: 200px;
    height: 200px;
    float: left;
}
#canvas1 {
    display: none;
}
